// .loading-false{
//     display: none;
//    }
   
//    .loading-true{
//     display: block;
//    }
  img{
      height: 100vh;
    //   height: 200px;
  }
  #output{
    height: auto;
    width: 820px;
    background-color: #b7b7b7;
    margin: auto;
      
  }