header{
    padding: 2em;
    background-color: #363636;
    
    h1{
        margin: 0px;
      font-size: 40px; 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
      text-align: center;
      color: seashell;
    }
}